<%#
Home page - all resources
Route: /
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>


    <h1>THIS WILL BE OUR HOMEPAGE</h1>

    <% for (var resource in resources) { %>
      title: <%=resources[resource].title%><br />
      url: <%=resources[resource].url%><br />
      description: <%=resources[resource].description%><br />
      topic: <%=resources[resource].topic%><br />
      creator: <%=resources[resource].username%><br />
      date_created: <%=resources[resource].date_created%><br />
      <br />
      <br />
    <% } %>


  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
