<%#
Home page - all resources
Route: /
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_nav %>
      <% include partials/_filterheader %>
      <% include partials/_search_bar %>
    </header>

    <main class='main-content'>
      <div class='resource-wrapper'>
          <% for (var resource in resources) { %>
            <div class='resource box'>
              id: <%=resources[resource].id%><br />
              title: <%=resources[resource].title%><br />
              url: <%=resources[resource].url%><br />
              description: <%=resources[resource].description%><br />
              topic: <%=resources[resource].topic%><br />
              creator: <%=resources[resource].creator%><br />
              date_created: <%=resources[resource].date_created%><br />
              <a class='button' href=<%=resources[resource].url%>>View</a>
            </div>
          <% } %>
      </div>
    </main>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
