 <%#
Home page - all resources
url: /
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>All Resources</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
      <% include partials/_search_bar %>
    </div>
  </header>


  <div class='nav-and-search-bar-break'>
  </div>

  <main class='main-content-wrapper resources'>
    <% for (var resource in resources) { %>
        <article class="card box">
          <div class="card-image">
            <figure class="image is-2by2">
                  <%var topicKey = resources[resource].topic%>
              <a href="/resources/<%=resources[resource].id%>">
                    <i class="<%=icons[topicKey]%> " aria-hidden="true"></i>
                  </a>
            </figure>
          </div>
          <div class="card-content">
          <h1><%=resources[resource].title%></h1>
            <div class="content">
              <a class='button is-primary is-outlined' href="<%=resources[resource].url%>">Source</a>
              <strong class="timestamp"><%=moment(resources[resource].date_created).fromNow()%></strong>
              <span class="tag is-dark"><%=resources[resource].topic%></span>
            </div>
          </div>
        </article>
   <% } %>
  </main>

  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>
