<%#
Edit profile page
Route: /users/:user_id/editprofile
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Profile</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <section>
      <h1><%= resource.title %></h1>
      <div></div>
      <span><button type="button">Like</button></span><span>Rate: ***** </span><span><a href="<%=resource.url%>">Visit</a></span>
      <h4>Submitted by <%= creator.username %></h4>
      <p><%= resource.description %></p>
      <h5>topic: <%= resource.topic %></h5>
        <form method="POST" action="/resources/:resource_id">
          <textarea name="description" placeholder="Comment"></textarea>
          <input type="submit" value="Submit">
        </form>
    </section>
    <section class="resource-container">
    </section>
    <% include partials/_footer %>
  </body>
</html>
