<%#
Edit profile page
Route: /users/:user_id/editprofile
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Info</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_nav %>
    </header>

    <main class='main-content'>
      <section>
        <h1><%= resource.title %></h1>
        <div></div>
        <span><button type="button">Like</button><span> <%= likesCount.likes %> </span></span><span>Rate: <%= totalRating.rating %> </span><span><a href="<%=resource.url%>" target="_blank">Visit</a></span>
        <h4>Submitted by <a href="/users/<%= creator.id %>"><%= creator.username %></a> on <%= resource.date_created %></h4>
        <p><%= resource.description %></p>
        <h5>Topic: <%= resource.topic %></h5>
          <form method="POST" action="/resources/:resource_id">
            <textarea name="description" placeholder="Comment"></textarea>
            <input type="submit" value="Submit">
          </form>
      </section>
      <section class="comments-container">
      <% for (let commentObj of allComments) { %>
        <p><%= commentObj.comment %> </p>
        <h4>Posted by: <%= commentObj.commenter %> on <%= commentObj.date %></h4>
      <% } %>
      </section>
    </main>

    <footer>
      <% include partials/_footer %>
    </footer>
  </body>
</html>
