<%#
My Resources page
Route: /users/:user_id
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Resources</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_nav %>
      <% include partials/_filterheader %>
      <% include partials/_search_bar %>
    </header>

    <main class='main-content'>
      <h1>My Resources</h1>

      <!-- <section id='resources-container'>
      </section> -->

      <div class=resource-wrapper>
          <% for (var resource in resources) { %>
            <div class='resource box'>
              title: <%=resources[resource].title%><br />
              topic: <%=resources[resource].topic%><br />
              creator: <%=resources[resource].creator%><br />
              date_created: <%=resources[resource].date_created.toLocaleDateString()%><br />
              <% if (resources[resource].topic == 'math') { %>
                <a href="/resources/<%=resources[resource].id%>">
                   <i class="fa fa-superscript" aria-hidden="true" style="font-size:200px"></i>
                </a>
              <% } else if (resources[resource].topic == 'science') { %>
                <a href="/resources/<%=resources[resource].id%>">
                  <i class="fa fa-flask" aria-hidden="true" style="font-size:200px"></i>
                </a>
              <% } else if (resources[resource].topic == 'history') { %>
                <a href="/resources/<%=resources[resource].id%>">
                  <i class="fa fa-hourglass-end" aria-hidden="true" style="font-size:200px"></i>
                </a>
              <% } else if (resources[resource].topic == 'geography') { %>
                <a href="/resources/<%=resources[resource].id%>">
                  <i class="fa fa-globe" aria-hidden="true" style="font-size:200px"></i>
                </a>
              <% } %>
              <a class='button' href=<%=resources[resource].url%>>View</a>
            </div>
          <% } %>
      </div>
    </main>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
