<%#
User resources page - resources and likes that belong to a user
url: /users/:user_id
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>User Page</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
      <% include partials/_search_bar %>
    </div>
  </header>


  <div class='nav-and-search-bar-break'>
  </div>

  <div class='main-content-wrapper'>
    <div class="section profile-heading">
      <div class="columns">
        <div class="column is-2">
          <div class="image is-128x128 avatar">
            <img src="http://orig01.deviantart.net/06f7/f/2014/101/7/9/profile_picture_by_happy_fingers-d7e2t77.jpg">
          </div>
        </div>
        <div class="column is-4 name">
          <p>
            <span class="title is-bold">John Smith</span>
            <span class="button is-primary is-outlined follow">Follow</span>
          </p>
          <p class="tagline">The users profile bio would go here, of course. It could be two lines</p>
        </div>
        <div class="column is-2 followers has-text-centered">
          <p class="stat-val">129k</p>
          <p class="stat-key">followers</p>
        </div>
        <div class="column is-2 following has-text-centered">
          <p class="stat-val">2k</p>
          <p class="stat-key">following</p>
        </div>
        <div class="column is-2 likes has-text-centered">
          <p class="stat-val">29</p>
          <p class="stat-key">likes</p>
        </div>
      </div>
    </div>
  </div>

  <main class='main-content-wrapper resources'>
    <% for (var resource in resources) { %>
        <article class="card box">
          <div class="card-image">
            <figure class="image is-2by2">
                  <%var topicKey = resources[resource].topic%>
              <a href="/resources/<%=resources[resource].id%>">
                    <i class="<%=icons[topicKey]%>" aria-hidden="true"></i>
                  </a>
            </figure>
          </div>
          <div class="card-content">
          <h1><%=resources[resource].title%></h1>
            <div class="content">
              <a class='button is-primary is-outlined' href="<%=resources[resource].url%>">Source</a>
              <strong class="timestamp"><%=moment(resources[resource].date_created).fromNow()%></strong>
              <span class="tag is-dark"><%=resources[resource].topic%></span>
            </div>
          </div>
        </article>
    <% } %>
  </main>

  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>
